.panel-control-container {
    display: flex;
    width: 65%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 45%;
}

.label {

    margin-top: 10px;
}

.form input {
    width: 100%;
    margin-bottom: 10px;
}


.error-message-none {
    display: none;
}
.error-message {
    font-size: 0.8rem;
    color: red;
}

.asterisk {
    color: red;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.button-update {
    background-color: rgb(85, 127, 241);
}

.button-add {
    background-color: rgb(57, 126, 2);
}

@media ( max-width: 519px ){

    .panel-control-container {
        width: 95%;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .label {
        width: 100%;
    }

    .form input {
        width: 75%;
    }

}

@media ( max-width: 958px ){

    .panel-control-container {
        width: 70%;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .label {
        width: 100%;
    }

    .form input {
        width: 75%;
    }

}

@media ( max-width: 600px ){

    .panel-control-container {
        width: 95%;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .label {
        width: 100%;
    }

    .form input {
        width: 75%;
    }

}

@media ( max-width: 519px ){

    .panel-control-container {
        width: 95%;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .label {
        width: 100%;
    }

    .form input {
        width: 85%;
    }

}