@font-face {
    src: url('../web-symbols//WebSymbols-Regular.otf');
    font-family: icons;
}

.header-and-title-container {
    width: 100%;
    height: 28rem;
}

.header-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 90%;
}


.header-image-background {
    width: 100%;
    height: 100%;
}

.header-title {
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 3px black, -3px 3px 4px black, -4px 4px 5px black;
    font-size: 3.5rem;
    border-right: 4px solid;
    width: 16ch;
    white-space: nowrap;
    border-right: 4px solid;
    animation:typing 2s steps(16), blink .5s infinite step-end alternate-reverse;
    overflow: hidden;
}


@keyframes typing {
    from {width: 0};
    
}

@keyframes blink {

    50% {
        border-color: transparent;
    }
}

.sub-title {
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 3px black, -3px 3px 4px black, -4px 4px 5px black;
}

.icons {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    transition: all 300ms;   
}

.linkedin-icon {
    box-shadow: -3px 3px 2px #005A88, -3px 3px 2px #005A88, -3px 3px 2px #005A88;
}
.whatsapp-icon {
    box-shadow: -3px 3px 2px #016F15, -3px 3px 2px #016F15, -3px 3px 2px #016F15;
}
.instagram-icon {
    box-shadow: -3px 3px 2px #7F6504, -3px 3px 2px #7F6504, -3px 3px 2px #7F6504;
}
.facebook-icon {
    box-shadow: -3px 3px 2px #035DD1, -3px 3px 2px #035DD1, -3px 3px 2px #035DD1;
}

.icons:hover {
    transform: scale(1.2, 1.2) translateY(10px);
    cursor: pointer;
}

.icons:active {
    transform: scale(1.5, 1.5);
    box-shadow: -2px 2px 4px black;
}

.cv{
    display: flex;
    align-items: center;
    width: 20%;
    height: 3rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
    background-color: rgb(38 175 255);
    box-shadow: -2px 2px 2px rgb(4, 79, 122), -3px 3px 3px rgb(4, 79, 122), -4px 4px 4px rgb(4, 79, 122);
    cursor: pointer;
    transition: all 300ms;
}
.cv:hover {
    transform: scale( 1.1, 1.1 );
}


.icon-download-container:hover {
    font-size: 2rem;
}
.cv:active {
    transform: scale(1.1,1.1);
}

.cv-link {
    flex: 3;
    font-family: "Ubuntu";
    font-weight: 500;
    font-style: normal;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: font-size 300ms;
}
.cv-link:hover {
    font-size: 1.3rem;
} 

.icon-download-container {
    display: flex;
    flex: 1;
    font-family: icons;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    justify-content: end;
    font-size: 1.6rem;
    color: black;
    overflow: hidden;
    transition: font-size 300ms;
}


@keyframes donwload {

    0% {
        transform: translateY( -5rem );
        
    }

    50% {
        transform: translateY( 5rem );
        
    }

    75% {
        opacity: 0;
    }

    100% {
        transform: translateY( 0% );
        opacity: 0;
        
        
    }
}

@media ( max-width: 1105px ){
    .cv {
        width: 30%;
    }
}

@media ( max-width: 771px ){

    .cv {
        width: 35%;
    }
}

@media ( max-width: 650px ){

    .header-title {
        text-align: center;
        font-size: 3rem;
     }
 
     .sub-title {
         font-size: 1.3rem;
     }

    .cv {
        width: 45%;
        font-size: 1rem;
    }
    .cv:hover {
        transform: scale( 1, 1);
    }

    .cv-link:hover {
        font-size: 1rem;
    }
    
    .icon-download-container:hover {
        font-size: 1.6rem;
    }

    .icons {
        margin-bottom: 30px;
    }
}


@media ( max-width: 519px ){
    .header-and-title-container {
        height: 19rem;
    }

    .header-information-container {
        bottom: 20rem;
    }

    .header-title {
        font-size: 2.5rem;
     }
 
    .sub-title {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .icons:hover {
        transform: scale(1, 1) translateY(0);
    }

    .icons:active {
        transform: scale(1.5, 1.5);
    }

    .cv {
        width: 70%;
        font-size: 1.3rem;
    }

    .cv:active {
        font-size: 0.9rem;
    }

}